.wrap-bmi {
  width: 500px;
  border: 1px solid #999;
}
.wrap-bmi .header {
  position: relative;
  background: #4c3b56;
  height: 70px;
}
.wrap-bmi .header h3 {
  line-height: 70px;
  text-transform: uppercase;
}
.wrap-bmi .header .fa-history {
  position: absolute;
  color: white;
  right: 20px;
  top: 25px;
  font-size: 22px;
}
.wrap-bmi .body-main {
  padding: 30px 50px;
  background: #1fb6ca;
  color: white;
  font-weight: 400;
}
.wrap-bmi .body-main .information {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.wrap-bmi .body-main .information label {
  font-weight: bold;
  flex: 0 0 150px;
  margin-bottom: 0;
}
.wrap-bmi .body-main .information input {
  flex-grow: 1;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 0 8px;
  color: #1fb6ca !important;
  font-weight: bold;
}
.wrap-bmi .body-main.history {
  padding: 30px 20px;
}
.wrap-bmi .view {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background: white;
  font-weight: bold;
  color: #1fb6ca;
  cursor: pointer;
}
.wrap-bmi .warning {
  color: red;
}

.custom-control-label::before {
  background: white;
}

table {
  width: 100%;
}
table th, table td {
  border: solid 1px #1fb6ca;
  text-align: center;
  color: #1fb6ca;
  font-weight: bold;
  min-width: 65px;
}
table th {
  background-color: #f9f0f0;
}
table tr {
  height: 40px;
}
table tr:nth-child(odd) {
  background-color: white;
}
table tr:nth-child(even) {
  background-color: #f9f0f0;
}
table tr td:first-child {
  max-width: 120px;
}

#list2, #list3, #list4, #list5, #list6, #list7 {
  cursor: pointer;
}

.fa-sort, .fa-sort-down, .fa-sort-up {
  display: block;
  margin: 3px 10px;
  float: right;
  color: #c2d6d6;
}