* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
}

.calculator-wrap {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#shaped, .history {
	width: 310px;
	height: 500px;
	border-radius: 10px;
	background-color: #607D8B;
	display: inline-block;
}

.history {
	background-color: white;
	border: 1px solid #999;
	margin-left: 50px;
}

.history .body-history {
	height: 400px;
	margin: 20px 0 30px 0;
	overflow: auto;
}

.history .body-history ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	display: flex;
	flex-direction: column-reverse;
}

.history .body-history ul li {
	padding: 5px 10px;
	transition: 0.3s;
}
.history .body-history ul li:hover{
	background: #f1f1e2;
}

.history h5 {
	line-height: 50px;
	color: #607D8B;
}

#calculator {
	width: 310px;
	height: 60px;
	line-height: 60px;
	border-radius: 10px;
}

#calculator p {
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

#result {
	width: 270px;
	margin: 0px 20px 40px 20px;
	border: 2px solid #d6d6c2;
}

#answer-result {
	width: 100%;
	height: 50px;
	padding: 10px;
	text-align: right;
	font-size: 30px;
	font-weight: bold;
	background-color: #eaeada;
	border: none;
	outline: none;
}

#answer {
	width: 100%;
	background: #f1f1e2;
	text-align: right;
	border: none;
	outline: none;
}

.row {
	width: 270px;
	margin: 0px 20px;
}

.btn_style {
	width: 60px;
	height: 40px;
	line-height: 1;
	margin: 3.5px;
	font-size: 20px;
	border-radius: 10px;
	color: #ffffff;
	background-color: #000000;
	cursor: pointer;
	float: left;
}

.btn_sqr {
	line-height: 30px;
}

.btn_equal {
	width: 126px;
	height: 40px;
	line-height: 40px;
	margin: 3px;
	border-radius: 10px;
	color: #ffffff;
	background-color: #000000;
	float: left;
}

.style-3::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px #fff;
	background-color: #f0f0f0;
}

.style-3::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	background-color: #607D8B;
}

.style-3::-webkit-scrollbar-thumb {
	background-color: #dee2e6;
	border-radius: 10px;
}