body {
  background: url(../img/train/map.png);
  background-size: cover;
}

#train {
  position: relative;
}

.control-wrap {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.disable {
  pointer-events: none;
}

#bg-music {
  display: none;
}